.phone {
  width: 350px;
  height: 720px;
  background-color: #FF4B5C;
  border-radius: 30px;
  border: solid white 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin:  auto;
}
.App{
  background-color: #FF4B5C;
  min-height: 1040px ;
}
.wallpaper{
  width: 100%;
  height: 100vh;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2018/03/13/109696/original/wallhaven-109696.jpg');
  background-size: cover;
  background-position: center;
}

.screen {
  width: auto;
  height: auto;
  background-color: #FD4753;
  border-radius: 20px;
  margin:  auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  margin-top: 200px;
}



img {
  width: 80%;
  height: auto;
  margin-top: 160px;
  margin-right: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
h1 {
  font-size: 30px;
  color: white;
  font-family: 'Dancing Script';
}
